<%= form_for Todo.new do |todo| %>
  <p>
  <%= todo.label :category_id %><br>
  <%= todo.text_field :category_id %>
  </p>

  <p>
  <%= todo.label :description %><br>
  <%= todo.text_field :description %>
  </p>

  <p>
  <%= todo.label :level %><br>
  <%= todo.text_field :level %>
  </p>
  
  <p><%= todo.submit  %></p>
<% end %>